body{
    background-image: url(../images/backgFont.jpg);
    padding: 25px;
}
#wrapper{    
    background-image: url(../images/kletca2.jpg);
    background-repeat: repeat;
    min-height: 805px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-bottom: 7px;
} 
#bUp{
    background-image: url(../images/bodyUp.jpg);
    background-repeat: repeat-x;
    height: 26px;    
    padding-bottom: 5px;
} 
#bBottom{
    background-image: url(../images/bodyBottom.jpg); 
    background-repeat: repeat-x;
    height: 12px;
}

#workSpace{
    border-top: 1px solid #C1C1C1; 
    border-bottom: 1px solid #C1C1C1; 
    font: 18px Agency FB, Courier New; 
    padding: 5px 3px; 
    margin: 0 7px 0; 
    background-image: url(../images/fontStyle.png);
}